.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* App.css */
.chartContainer {
  width: 90%; /* Or adjust according to your layout needs */
  margin: 0 auto; /* Center the container */
  height: auto; /* Adjust height as needed or keep it auto */
}


.bar-chart-container {
  max-width: 360px; /* Fixed width for the chart */
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .chart-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100px;
  }

  .chart-summary {
    margin-right: 20px;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
